# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# env files
.env*

# Frontend (Next.js)
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions
frontend/coverage/
frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Backend (Spring Boot)
backend/build/
backend/.gradle/
backend/bin/
backend/out/
backend/*.jar
backend/*.war

*storybook.log
storybook-static


.docs