# compiled output
/dist

# dependencies
/node_modules

# IDE
/.idea
/.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*

# test
/coverage

# build
tsconfig.tsbuildinfo

.yarn
.claude